:root {
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-size-extra-large: 40px;
    --font-size-large: 25px;
    --font-size-medium: 20px;
    --font-size-normal: 16px;
    --font-size-small: 13px;

    --color-text-primary: #222;
    --color-text-secondary: #777;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-text-primary);
    background-color: #eeeeef;
    font-size: var(--font-size-normal);
    font-family: var(--font-family), sans-serif;
}

ul {
    list-style: none;
}

.title-large {
    font-size: var(--font-size-extra-large);
    font-weight: bold;
}

.title {
    font-size: var(--font-size-large);
    font-weight: bold;
    margin-bottom: 10px;
}

.title-small {
    font-size: var(--font-size-medium);
    font-weight: bold;
    margin-bottom: 10px;
}

.container {
    margin: 0 auto;
    padding: 20px;

    &.container-narrow {
        max-width: 600px;
    }

    &.container-wide {
        max-width: 1200px;
    }
}

.card {
    padding: 20px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 3px rgba(100, 100, 100, 0.02);
}

.form-label {
    display: block;
    margin-bottom: 20px;
}

.form-text-input {
    display: block;
    border: none;
    width: 100%;
    background: #f6f6f6;
    font-size: var(--font-size-normal);
    padding: 10px;
    border-radius: 8px;
    margin-top: 5px;
}

.form-select {
    display: block;
    border: none;
    background: #f6f6f6;
    width: 100%;
    font-size: var(--font-size-normal);
    padding: 10px;
    border-radius: 8px;
    margin-top: 5px;
}

.button {
    display: block;
    border: none;
    background: #ececec;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--font-family), sans-serif;
    font-size: var(--font-size-normal);
    font-weight: bold;
    box-shadow: 1px 1px 3px 3px rgba(100, 100, 100, 0.02);

    &.button-wide {
        width: 100%;
    }

    &.button-primary {
        color: #ffffff;
        background: #421683;
    }
}

.columns {
    display: flex;
    gap: 20px;

    .column {
        flex: 1 1 1px;
    }

    .column-2 {
        flex: 2 1 1px;
    }
}

.notification {
    animation: blink 3s ease-in-out infinite;
}

@keyframes blink {
    0%, 100% {
        background-color: #f6f6f6;
    }
    50% {
        background-color: #f5a3ff;
    }
}


/*
DEBUG STYLES
 *

[data-component] {
    --debug-color: #fa88;
    position: relative;
    outline: 2px dashed var(--debug-color);
    outline-offset: -2px;
}

[data-component] [data-component] {
    --debug-color: #0a88;
}

[data-component] [data-component] [data-component] {
    --debug-color: #8af8;
}

[data-component] [data-component] [data-component] [data-component] {
    --debug-color: #c6f8;
}

[data-component] [data-component] [data-component] [data-component] [data-component] {
    --debug-color: #a468;
}

[data-component] [data-component] [data-component] [data-component] [data-component] [data-component] {
    --debug-color: #f858;
}

[data-component]:before {
    content: attr(data-component) ' (' attr(data-component-id) ')';
    position: absolute;
    top: 0;
    left: 0;
    font-family: monospace;
    font-weight: bold;
    color: var(--debug-color);
    z-index: 1;
}
*/